.icon1 {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 40%;
}
.icon2 {
    display: inline-block;
    width: 60%;
}
.box1 {
    display: inline-block;
    background-color: #696969;
    width: 100%;
    height: 50%;
}
.box2 {
    display: inline-block;
    background-color: #A9A9A9;
    width: 100%;
    height: 50%;
}
.icon2 .text{
	margin-top: 5px !important;
	font-size: 15px !important;
}

.card .body{
	height: 500px;
}

.dashboard-stat-list{
	margin-top: 0px !important;
}
.dashboard-stat-list li{
    padding:0px !important;
    border-bottom: 1px solid; 
    margin-bottom: 15px
}

.red{
    color:red;
}

.name_agent{
    width:20%;
    overflow:hidden;
}
